body {
    padding-top: 4rem;
    font-size: .85rem;
  }

h2 {
    font-size: 1rem;
}

hr.hr-text {
    position: relative;
      border: none;
      height: 2px;
      background:#df691a;
  }
  
  hr.hr-text::before {
      content: attr(data-content);
      display: inline-block;
      background: rgb(71, 70, 70);
      font-weight: bold;
      font-size: 1rem;
      color: #df691a;
      border-radius: 30rem;
      padding: 0.2rem 2rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }