{% extends "base.jinja" %}
        {% block css %}
            <meta http-equiv='refresh' content='20'>

        {% endblock %}
    {% block navbaritems_AfterHome %}
      <li class="nav-item active">
        <span class="navbar-text"><i class="fas fa-sync-alt"></i> = {{refreshed}} x</span>
      </li>
    {% endblock %}
        {% block main %}
        {% for store in stores.values() %}
        <div class="pt-3">
            <div class="storeTitle">
                <hr data-content="{{store['store_name']}}" class="hr-title">
            </div>
                {% if store['has_stock'] %}
                    {% if audio %}
                        <audio autoplay>
                            <source src="{{ url_for('static', filename='mlg-airhorn.mp3') }}">
                        </audio>
                    {% endif %}
                    <span> - <b>Has Stock</b></span>
                {% endif %}
                </div>
            <div class="pl-3 pb-2">
                <div class="subtitle">
                    <hr data-content="Has Stock Of - {{ store['stock']|length }}" class="hr-subtitle">
                </div>
                <ul>
                {% if store['stock']|length > 0 %}
                    {% for card in store['stock'] %}
                        <li><a href="{{ card['url'] }}" target="_blank">{{card['description']}}</a></li>
                    {% endfor %}
                {% else %}
                    <li>Nothing</li>
                {% endif %}
                </ul>
                <div class="subtitle">
                    <hr data-content="No Stock Of - {{ store['nostock']|length }}" class="hr-subtitle">
                </div>
                <ul>
                {% if store['nostock']|length > 0 %}
                    {% for card in store['nostock'] %}
                        <li><a href="{{ card['url'] }}" target="_blank">{{card['description']}}</a></li>
                    {% endfor %}
                {% else %}
                    <li>Nothing</li>
                {% endif %}
                </ul>
            </div>
        {% endfor %}
        {% endblock %}